@page
@model Vika_Automate.Pages.AdminListModel
@{
}


<h1>Admin panel</h1>

<ul>
    <li><a asp-page="/EmploeeAdminPage/EmploeeAdminPage">Employees Admin Panel</a></li>
    <li><a asp-page="/AdvertisingAdminPage/AdvertisingAdminPage">Advertisings Admin Panel</a></li>
    <li><a asp-page="/PartnerAdminPage/PartnerAdminPage">Partners Admin Panel</a></li>
    <li><a asp-page="/ProductAdminPage/ProductAdminPage">Products Admin Panel</a></li>
    <li><a asp-page="/ProductionAdminPage/ProductionAdminPage">Productions Admin Panel</a></li>
    <li><a asp-page="/RawMaterialAdminPage/RawMaterialAdminPage">Raw Materials Admin Panel</a></li>
    <li><a asp-page="/ProviderAdminPage/ProviderAdminPage">Providers Admin Panel</a></li>
</ul>
